* {
	box-sizing: border-box;
}

body {
	margin: 0;
	-moz-osx-font-smoothing: grayscale !important;
    -webkit-font-smoothing: antialiased !important;
    background-color: #fbfaf6 !important;
    color: #00000 !important;
    font-family: greycliff-cf, sans-serif;
    font-weight: 400 !important;
	
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #fbfaf6;
	color: #000;
	font-family: greycliff-cf, sans-serif;
	font-weight: 400;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  p {
	transition: font-size 400ms ease-in-out;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
	font-family: "Noto Serif Display", serif;
	font-optical-sizing: auto;
	font-weight: 500 ;
	margin: 0.625rem 0;
  }
  
  h1,
  .h1 {
	font-size: 3.75rem;
	line-height: 98%;
	letter-spacing: -0.6px;
  }
  
  h2,
  .h2 {
	font-size: 3.75rem;
	line-height: 98%;
	letter-spacing: -0.6px;
  }
  .rich-text h2,
  .rich-text .h2 {
	line-height: 98%;
	font-size: 1.5625rem;
  }
  
  h3,
  .h3 {
	font-size: 3rem;
	line-height: 98%;
	letter-spacing: -0.48px;
  }
  
  h4,
  .h4 {
	font-size: 3.75rem;
	line-height: 98%;
	letter-spacing: -0.6px;
	color: #000 !important ;
  }
  
  h5,
  .h5,
  h6,
  .h6 {
	font-size: 0.875rem;
  }
  
  address,
  p {
	font-family: greycliff-cf, sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	font-size: 0.875rem;
	line-height: 120%;
	letter-spacing: 0.07px;
  }
  
  a {
	color: #000 ;
  }
  a:not(.rich-text *) {
	text-decoration: none;
  }
  
  small {
	font-size: 85%;
  }
  
  strong {
	font-weight: 700;
  }
  
  em {
	font-style: italic;
  }
  
  dl,
  ol,
  ul {
	margin: 0 0 1.875rem;
	padding: 0 0 0 2.1875rem;
	font-size: 0.875rem;
  }
  
  ol li,
  ul li {
	/* padding: 0 0 1rem; */
  }
  ol li:last-child,
  ul li:last-child {
	padding-bottom: 0;
  }
  
  ul {
	list-style: none;
	padding: 0;
  }
  
  ol ol,
  ul ul {
	font-size: 1em;
	margin: 0;
	padding: 0.9375rem 0 0 2.1875rem;
  }
  
  dt {
	font-weight: 700;
  }
  
  dd {
	margin: 0 0 0.9375rem;
  }
  
  /**
   * Tables
   *
   * Table
   * Responsive table
   */
  /**
   * Table
   */
  table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
	width: 100%;
  }
  
  th {
	border-bottom: 1px solid #000;
	font-size: 1rem;
	font-weight: 700;
	padding: 0.875rem 0.625rem 0.875rem;
  }
  
  td {
	border-bottom: 1px solid #000;
	font-size: 0.8125rem;
	padding: 1.3125rem 0.625rem 1.3125rem;
  }
  
  tfoot td:first-child {
	text-align: right;
  }
  tfoot tr:first-child td {
	border-top: 1px solid #000;
  }
  
  table + table {
	margin-top: 1.25rem;
  }
  
a {
	text-decoration: none !important;
  }

.btn1 {
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Greycliff CF', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	padding: 0.75rem 1.25rem;
	text-transform: uppercase;
	text-align: center;
	transition: all 0.4s ease-in-out;
	display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .btn1:hover {
	background-color:rgb(241, 20, 20);
	border-color: rgb(241, 20, 20);
	color: #fff;
	transform: translateY(-4px);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn1:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(255, 152, 0, 0.5);
  }

.dropdown-hover:hover > .dropdown-menu {
	display: block;
}

.dropdown-hover > .dropdown-toggle:active {
	pointer-events: none;
}

.bg-f{
  background-color: #f2ece4;
}
